*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}
body{
    background-color: #cd8df4 ;
    font-family:sans-serif;
    display: flex;
    flex-direction: column
}
header{
    color: rebeccapurple;
    padding: 15px 50px 15px 50px;
}


img{
    width: 250px;
    border-radius: 50%;
}

.nome{
    padding: 0px 0px 15px 0px;
    font-size: 35px;
}

.bioNome{
    padding: 0px 0px 10px 0px;
}

.linkCidade{
    color: #9b088f;
}


h3{
    font-size: 25px;
    padding: 0px 0px 10px 0px;
}

section{
    margin:15px 0px 0px 0px;
    padding: 20px 0px 20px 50px;
    background-color: rebeccapurple;
    color:#cd8df4;
}
a{
    color: #cd8df4;
}


div{
    flex: 1;
 }

footer{
    background-color: #d9d9d9;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}